@import "tailwindcss";

/* @tailwind base;
   @tailwind components;
   @tailwind utilities; */

*{
 
  ::-webkit-scrollbar {
    width: 4px;
  
  }
  
  @media (min-width: 640px) {
    ::-webkit-scrollbar {
      width: 4px;
    }
  }
  
  @media (min-width: 768px) {
    ::-webkit-scrollbar {
      width: 4px;
    }
  }

  ::-webkit-scrollbar-track {
    background-color: #000000;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }
}


.bitcount-grid-single-ss {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}


.cinzel-ss {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.stalinist-one-regular {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}
